<?xml version="1.0"?>
<config>
    <!-- plugin name -->
    <modules>
        <Cartsguru>
            <version>1.3.1</version>
        </Cartsguru>
    </modules>
    <global>
        <models>
            <cartsguru>
                <class>Cartsguru_Model</class>
                <resourceModel>cartsguru_resource</resourceModel>
            </cartsguru>
            <cartsguru_resource>
                <class>Cartsguru_Model_Resource</class>
            </cartsguru_resource>
        </models>
        <blocks>
            <cartsguru>
                <class>Cartsguru_Block</class>
            </cartsguru>
        </blocks>
        <helpers>
            <cartsguru>
                <class>Cartsguru_Helper</class>
            </cartsguru>
        </helpers>
        <resources>
            <cartsguru_setup>
                <setup>
                    <module>Cartsguru</module>
                </setup>
            </cartsguru_setup>
        </resources>
        <!--In this section we register hooks call api-->
        <events>
            <admin_system_config_changed_section_cartsguru>
                <observers>
                    <cartsguru_admin_system_config_changed_section_cartsguru>
                        <type>singleton</type>
                        <class>cartsguru/observer</class>
                        <method>configSaveAfter</method>
                    </cartsguru_admin_system_config_changed_section_cartsguru>
                </observers>
            </admin_system_config_changed_section_cartsguru>
            <customer_save_after>
                <observers>
                    <cartsguru_customer_save_after>
                        <type>singleton</type>
                        <class>cartsguru/observer</class>
                        <method>customerSaveAfter</method>
                    </cartsguru_customer_save_after>
                </observers>
            </customer_save_after>
            <sales_quote_save_before>
                <observers>
                    <cartsguru_sales_quote_save_before>
                        <type>singleton</type>
                        <class>cartsguru/observer</class>
                        <method>quoteSaveBefore</method>
                    </cartsguru_sales_quote_save_before>
                </observers>
            </sales_quote_save_before>
            <sales_quote_save_after>
                <observers>
                    <cartsguru_sales_quote_save_after>
                        <type>singleton</type>
                        <class>cartsguru/observer</class>
                        <method>quoteSaveAfter</method>
                    </cartsguru_sales_quote_save_after>
                </observers>
            </sales_quote_save_after>
            <sales_order_save_after>
                <observers>
                    <cartsguru_sales_order_save_after>
                        <type>singleton</type>
                        <class>cartsguru/observer</class>
                        <method>orderSaveAfter</method>
                    </cartsguru_sales_order_save_after>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>CartsGuru.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
        <acl>
            <!-- in this section we add acl for admin settings -->
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <cartsguru>
                                            <title>Cartsguru - All</title>
                                        </cartsguru>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <cartsguru>
                <use>standard</use>
                <args>
                    <module>Cartsguru</module>
                    <frontName>cartsguru</frontName>
                </args>
            </cartsguru>
        </routers>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <cartsguru>
                        <class>Cartsguru_Model_Observer</class>
                        <method>checkSource</method>
                    </cartsguru>
                </observers>
            </controller_front_send_response_before>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <cartsguru>
                        <class>Cartsguru_Model_Observer</class>
                        <method>checkoutCartAdd</method>
                    </cartsguru>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
        <layout>
            <updates>
                <cartsguru>
                    <file>cartsguru.xml</file>
                </cartsguru>
            </updates>
        </layout>
    </frontend>
</config>
